<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MoNews</title>

    <link rel="stylesheet" href="{{ static('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ static('css/base.css') }}">
  </head>

  <body>
    <div class="container">
      <div class="page-header">
        <h1>{{ _('MoNews - Mozilla News Aggregator') }}</h1>
        <p class="lead">
          {% trans %}
            A semi-curated collection of news from across the Mozilla Project.
          {% endtrans %}
        </p>
      </div>

      <div class="content">
        {% block content %}{% endblock %}
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <p class="text-muted">
          {% trans repo_url='https://github.com/Osmose/monews' %}
            Created by humans like you. Check out the <a href="{{ repo_url }}">Github repo</a> for MoNews.
          {% endtrans %}
        </p>
      </div>
    </div>
  </body>
</html>
